@use "../../mixins.scss" as *;

.Question {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 20px 0;
    line-height: 1.2;
    color: var(--text);
    background: var(--bg);
    max-width: 75%;
  }
  button {
    @include plain-button-styles;
    &.yes {
      color: var(--yes-text);
      border: 1px solid var(--yes-text);
    }
    &.no {
      color: var(--no-text);
      border: 1px solid var(--no-text);
    }
    &:disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }
}
